# SBT .gitignore
# recommended: http://code.google.com/p/simple-build-tool/wiki/Setup#Version_Control

target/
lib_managed/
src_managed/
project/boot/
.project
.classpath
.history
.cache
.idea/
.idea_modules/
.settings/
core/*.jar
*.bat
testdata
untitled/
backups/
restore/
/bin
/testdata
/index
/index2
/compression
/compression2
/compression.txt
/compression2.txt
/compression 3
/compression3.txt
/testimg
